<div class="top">
  <h1>Add Single User</h1>
</div>

<div class="container">
  <div class="row">
    <form
      class="col-6"
      (ngSubmit)="onSubmit()"
      name="addUserform"
      [formGroup]="addUserForm"
    >
      <p>Personal Details</p>
      <mat-form-field appearance="outline" class="col-11">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-11">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <br />

      <p>Employee Details</p>

      <mat-form-field appearance="outline" class="col-11">
        <mat-label>Employee ID</mat-label>
        <input matInput type="text" formControlName="employeeID" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-11">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" (change)="changeRole($event)">
          <mat-option *ngFor="let role of Role" [value]="role">{{
            role
          }}</mat-option>
        </mat-select>
        <mat-error>Please select the user role</mat-error>
      </mat-form-field>

      <br />
      <p>Set Password</p>

      <mat-form-field appearance="outline" class="col-11">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <!-- [disabled]="!addUserForm.valid" -->
      <button mat-raised-button type="submit">Add User</button>
    </form>
    <img src="../../../assets/images/Single User.jpg" alt="" />
  </div>
</div>
