.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #f1f2f5;
  display: flex;
  background-image: url("../../assets/images/dashboard_bg.png");
  background-size: cover;
}
.sidenav {
  height: 97%;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  padding-top: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sidenav button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 20px;
  width: 220px;
  text-align: start;
}
.sidenav a,
.sidenav button {
  margin: 2px 15px;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  color: rgb(61, 61, 61);
  display: block;
  border-radius: 8px;
}
.sidenav a mat-icon,
.sidenav button mat-icon {
  vertical-align: middle;
  margin-right: 7px;
  font-size: 20px;
}
.sidenav a:hover,
.sidenav button:hover {
  color: white;
  background-color: #0079c1;
}

.sidenav p {
  font-weight: 500;
  font-size: 14px;
  padding: 0px 26px;
  color: #0079c1;
  margin-top: 20px;
  margin-bottom: 5px;
}
.sidenav img {
  margin-left: 60.5px;
  margin-bottom: 15px;
  width: 50%;
  height: auto;
}

.content {
  height: 97%;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 10px 10px 10px 0px;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* overflow: auto; */
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}