/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success.mat-snack-bar-container{
  background-color: #5bc9b7;
  color:black;
}
.error.mat-snack-bar-container{
  background-color: #ef5653;
  /* color:black; */
}
